<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('楼栋信息管理')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="floor-form">
					<input type="hidden" id="campusId" name="campusId" th:value="${campusId}">
					<input id="level" name="level" type="hidden" th:value="${user.level}"/>
					<div class="select-list">

						<ul>
							<li>
								楼栋号：<input th:if="${user.level} eq floor" type="text" name="floorId" id="floorId" th:value="${user.floor}"/>
								<input th:if="${user.level} eq school" type="text" name="floorId" id="floorId" />
								<input th:if="${user.level} eq county" type="text" name="floorId" id="floorId" />
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()">
	                <i class="fa fa-plus"></i> 新增
	            </a>

	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag ="";
        var removeFlag = "";
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var prefix = ctx + "property/propertyInfo";
        var campusId=$("#campusId").val();
        var floorId=$("#floorId").val();
		$(function() {
            if ($(" input[ name='level' ] ").val()=="floor") {
                $("#toolbar").hide();
            }
		    var options = {
                url: prefix + "/list",
		        createUrl: prefix + "/add?campusId="+campusId,
                updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
                importUrl: prefix + "/importData",
                importTemplateUrl: prefix + "/importTemplate",
		        modalName: "财物信息",
		        columns: [{
		            checkbox: true
		        },
                    {
                        field: 'propertyId',
                        title: '财物id',
                        visible:false
                    },
		        {
		            field: 'propertyName',
		            title: '物品名称'
		        },
		        {
		            field: 'propertyNum',
		            title: '物品编号',
		            sortable: true
		        },
		        {
		            field: 'propertyAmount',
		            title: '物品数量',
		            sortable: true
		        },
                    {
                        field: 'propertyStatus',
                        title: '状态',
                        align: 'center',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(datas, value);
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        formatter: function(value, row, index) {
                            var actions = [];
                            if ($(" input[ name='level' ] ").val()=="school"  || $(" input[ name='level' ] ").val()=="county" ) {
                                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.floorId + '\')"><i class="fa fa-remove"></i>删除</a>');
                            }
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.floorId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            return actions.join('');
                        }
                    }
				]
		    };
		    $.table.init(options);
		});

	</script>

</body>

</html>