<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MisStudentMapper">

	<resultMap type="MisStudent" id="MisStudentResult">
		<id     property="studentId"        column="student_id"       />
		<result property="studentName"      column="student_name"     />
		<result property="studentFaculty"      column="student_faculty"     />
		<result property="studentProfession"      column="student_profession"     />
		<result property="studentClass"        column="student_class"        />
		<result property="apartmentId"      column="apartment_id"     />
		<result property="createTime"    column="createTime"   />
		<result property="updateTime"    column="updateTime"   />
		<result property="studentYear"        column="student_year"        />
		<result property="time"        column="time"        />
		<result property="gender"        column="gender"        />
		<result property="floorId"        column="floor_id"        />
		<result property="createBy"        column="createBy"        />
		<result property="updateBy"        column="updateBy"        />
	</resultMap>

	<sql id="selectStudentVo">
		select student_id,student_name,student_faculty,student_profession,student_class,apartment_id,student_year,time,gender,floor_id,createTime from mis_student
	</sql>

	<select id="selectStudentList" parameterType="MisStudent" resultMap="MisStudentResult">
		<include refid="selectStudentVo"/>
		<where>
			<if test="studentFaculty != null and studentFaculty != ''">
				AND student_faculty like concat('%', #{studentFaculty}, '%')
			</if>
			<if test="studentProfession != null and studentProfession != ''">
				AND student_profession like concat('%', #{studentProfession}, '%')
			</if>
			<if test="studentId != null and studentId != ''">
				AND student_id like concat('%', #{studentId}, '%')
			</if>
			<if test="studentName != null and studentName != ''">
				AND student_name like concat('%', #{studentName}, '%')
			</if>
		</where>
	</select>

	<select id="checkStudentCodeUnique" parameterType="String" resultMap="MisStudentResult">
	<include refid="selectStudentVo"/>
	where student_id=#{studentId}
	</select>

	<insert id="insertStudent" parameterType="MisStudent" useGeneratedKeys="true" keyProperty="id">
	insert into mis_student(
		student_id,
		student_name,
		student_faculty,
		student_profession,
		student_class,
		<if test="apartmentId != null and apartmentId != ''">apartment_id,</if>
		student_year,
		time,
		gender,
		<if test="floorId != null and floorId != ''">floor_id,</if>
		<if test="createBy != null and createBy != ''">createBy,</if>
		createTime
		)values(
		#{studentId},
		#{studentName},
		#{studentFaculty},
		#{studentProfession},
		#{studentClass},
		<if test="apartmentId != null and apartmentId != ''">#{apartmentId},</if>
		#{studentYear},
		#{time},
		#{gender},
		<if test="floorId != null and floorId != ''">#{floorId},</if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
	sysdate()
	)
	</insert>


	<!---->
	<!--<select id="selectPostAll" resultMap="SysPostResult">-->
		<!--<include refid="selectPostVo"/>-->
	<!--</select>-->
	<!---->
	<!--<select id="selectPostsByUserId" parameterType="Long" resultMap="SysPostResult">-->
		<!--SELECT p.post_id, p.post_name, p.post_code-->
		<!--FROM sys_user u-->
			 <!--LEFT JOIN sys_user_post up ON u.user_id = up.user_id-->
			 <!--LEFT JOIN sys_post p ON up.post_id = p.post_id-->
		<!--WHERE up.user_id = #{userId}-->
	<!--</select>-->
	<!---->
	<!--<select id="selectPostById" parameterType="Long" resultMap="SysPostResult">-->
		<!--<include refid="selectPostVo"/>-->
		<!--where post_id = #{postId}-->
	<!--</select>-->
	<!---->
	<!--<select id="checkPostNameUnique" parameterType="String" resultMap="SysPostResult">-->
		<!--<include refid="selectPostVo"/>-->
		 <!--where post_name=#{postName}-->
	<!--</select>-->
	<!---->

	<!---->
 	<!--<delete id="deletePostByIds" parameterType="Long">-->
 		<!--delete from sys_post where post_id in-->
 		<!--<foreach collection="array" item="postId" open="(" separator="," close=")">-->
 			<!--#{postId}-->
        <!--</foreach> -->
 	<!--</delete>-->
 	<!---->
 	<!--<update id="updatePost" parameterType="SysPost">-->
 		<!--update sys_post-->
 		<!--<set>-->
 			<!--<if test="postCode != null and postCode != ''">post_code = #{postCode},</if>-->
 			<!--<if test="postName != null and postName != ''">post_name = #{postName},</if>-->
 			<!--<if test="postSort != null and postSort != ''">post_sort = #{postSort},</if>-->
 			<!--<if test="status != null and status != ''">status = #{status},</if>-->
 			<!--<if test="remark != null">remark = #{remark},</if>-->
 			<!--<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>-->
 			<!--update_time = sysdate()-->
 		<!--</set>-->
 		<!--where post_id = #{postId}-->
	<!--</update>-->
 	<!---->
 	<!--<insert id="insertPost" parameterType="SysPost" useGeneratedKeys="true" keyProperty="postId">-->
 		<!--insert into sys_post(-->
 			<!--<if test="postId != null and postId != 0">post_id,</if>-->
 			<!--<if test="postCode != null and postCode != ''">post_code,</if>-->
 			<!--<if test="postName != null and postName != ''">post_name,</if>-->
 			<!--<if test="postSort != null and postSort != ''">post_sort,</if>-->
 			<!--<if test="status != null and status != ''">status,</if>-->
 			<!--<if test="remark != null and remark != ''">remark,</if>-->
 			<!--<if test="createBy != null and createBy != ''">create_by,</if>-->
 			<!--create_time-->
 		<!--)values(-->
 			<!--<if test="postId != null and postId != 0">#{postId},</if>-->
 			<!--<if test="postCode != null and postCode != ''">#{postCode},</if>-->
 			<!--<if test="postName != null and postName != ''">#{postName},</if>-->
 			<!--<if test="postSort != null and postSort != ''">#{postSort},</if>-->
 			<!--<if test="status != null and status != ''">#{status},</if>-->
 			<!--<if test="remark != null and remark != ''">#{remark},</if>-->
 			<!--<if test="createBy != null and createBy != ''">#{createBy},</if>-->
 			<!--sysdate()-->
 		<!--)-->
	<!--</insert>-->

</mapper> 