<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MisStudentMapper">

	<resultMap type="MisStudent" id="MisStudentResult">
		<id     property="studentId"        column="student_id"       />
		<result property="studentName"      column="student_name"     />
		<result property="studentFaculty"      column="student_faculty"     />
		<result property="studentProfession"      column="student_profession"     />
		<result property="studentClass"        column="student_class"        />
		<result property="apartmentId"      column="apartment_id"     />
		<result property="createTime"    column="createTime"   />
		<result property="updateTime"    column="updateTime"   />
		<result property="studentYear"        column="student_year"        />
		<result property="time"        column="time"        />
		<result property="gender"        column="gender"        />
		<result property="floorId"        column="floor_id"        />
		<result property="createBy"        column="createBy"        />
		<result property="updateBy"        column="updateBy"        />
	</resultMap>

	<sql id="selectStudentVo">
		select student_id,student_name,student_faculty,student_profession,student_class,apartment_id,student_year,time,gender,floor_id,createTime from mis_student
	</sql>

	<select id="selectStudentList" parameterType="MisStudent" resultMap="MisStudentResult">
		<include refid="selectStudentVo"/>
		<where>
			<if test="studentFaculty != null and studentFaculty != ''">
				AND student_faculty like concat('%', #{studentFaculty}, '%')
			</if>
			<if test="studentProfession != null and studentProfession != ''">
				AND student_profession like concat('%', #{studentProfession}, '%')
			</if>
			<if test="studentId != null and studentId != ''">
				AND student_id like concat('%', #{studentId}, '%')
			</if>
			<if test="studentName != null and studentName != ''">
				AND student_name like concat('%', #{studentName}, '%')
			</if>
		</where>
	</select>

	<select id="checkStudentCodeUnique" parameterType="String" resultMap="MisStudentResult">
	<include refid="selectStudentVo"/>
	where student_id=#{studentId}
	</select>

	<insert id="insertStudent" parameterType="MisStudent" useGeneratedKeys="true" keyProperty="id">
	insert into mis_student(
		student_id,
		student_name,
		student_faculty,
		student_profession,
		student_class,
		<if test="apartmentId != null and apartmentId != ''">apartment_id,</if>
		student_year,
		time,
		gender,
		<if test="floorId != null and floorId != ''">floor_id,</if>
		<if test="createBy != null and createBy != ''">createBy,</if>
		createTime
		)values(
		#{studentId},
		#{studentName},
		#{studentFaculty},
		#{studentProfession},
		#{studentClass},
		<if test="apartmentId != null and apartmentId != ''">#{apartmentId},</if>
		#{studentYear},
		#{time},
		#{gender},
		<if test="floorId != null and floorId != ''">#{floorId},</if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
	sysdate()
	)
	</insert>

	<update id="updateStudent" parameterType="MisStudent">
		update mis_student
		<set>
			<if test="studentName != null and studentName != ''">student_name = #{studentName},</if>
			<if test="studentFaculty != null and studentFaculty != ''">student_faculty = #{studentFaculty},</if>
			<if test="studentProfession != null and studentProfession != ''">student_profession = #{studentProfession},</if>
			<if test="studentClass != null and studentClass != ''">student_class = #{studentClass},</if>
			<if test="studentYear != null and studentYear != ''">student_year = #{studentYear},</if>
			<if test="time != null and time != ''">time = #{time},</if>
			<if test="gender != null and gender != ''">gender = #{gender},</if>
			<if test="updateBy != null and updateBy != ''">updateBy = #{updateBy},</if>
			updateTime = sysdate()
		</set>
		where student_id = #{studentId}
	</update>

</mapper> 