<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DormRoomMapper.MisFloorMapper">

    <resultMap type="MisFloor" id="MisFloorResult">
        <id property="floorId" column="id"/>
        <result property="floorName" column="floor_name"/>
        <result property="campusId" column="campus_id"/>
        <result property="floorLevel" column="floor_level"/>
        <result property="everyLevelNum" column="everyLevel_num"/>
        <result property="totalNum" column="total_num"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="createBy" column="createBy"/>
        <result property="updateBy" column="updateBy"/>
    </resultMap>

    <sql id="selectFloorVo">
        select *
        from mis_floor
    </sql>

    <select id="selectFloorByCampusId"  resultMap="MisFloorResult">
        <include refid="selectFloorVo"/>
        WHERE campus_id=#{campusId}
        <if test="floorName != null and floorName != ''">
            AND floor_name like concat('%', #{floorName}, '%')
        </if>
    </select>


    <select id="checkFloorNameUnique" parameterType="String" resultMap="MisFloorResult">
        <include refid="selectFloorVo"/>
        where floor_name=#{floorName} and campus_id=#{campusId}
    </select>

    <insert id="insertFloor" parameterType="MisFloor" useGeneratedKeys="true" keyProperty="id">
        insert into mis_floor(
        <if test="floorName != null and floorName != ''">floor_name,</if>
        <if test="campusId != null and campusId != ''">campus_id,</if>
        <if test="floorLevel != null and floorLevel != ''">floor_level,</if>
        <if test="everyLevelNum != null and everyLevelNum != ''">everyLevel_num,</if>
        <if test="totalNum != null and totalNum != ''">total_num,</if>
        <if test="createBy != null and createBy != ''">createBy,</if>
        createTime
        )values(
        #{floorName},
        #{campusId},
        #{floorLevel},
        #{everyLevelNum},
        #{totalNum},
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

</mapper> 