<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DormRoomMapper.MisPropertyMapper">

    <resultMap type="MisProperty" id="MisPropertyResult">
        <id property="propertyId" column="id"/>
        <result property="dormRoomId" column="dorm_room_id"/>
        <result property="propertyName" column="property_name"/>
        <result property="propertyAmount" column="property_amount"/>
        <result property="propertyStatus" column="property_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <resultMap type="DimProperty" id="DimPropertyResult">
        <id property="dimpropertyId" column="id"/>
        <result property="dimProName" column="dim_pro_name"/>
        <result property="dimProNum" column="dim_pro_num"/>
    </resultMap>

    <sql id="selectProperty">
        select *
        from mis_property
    </sql>

    <select id="selectPropertyList"  resultMap="MisPropertyResult">
        <include refid="selectProperty"/>
        WHERE dorm_room_id=#{dormId}
        <if test="propertyName != null and propertyName != ''">
            AND property_name like concat(#{propertyName}, '%')
        </if>
    </select>

    <select id="selectPropertyById"  resultMap="MisPropertyResult">
        <include refid="selectProperty"/>
        WHERE id=#{propertyId}
    </select>


    <insert id="insertProperty" parameterType="MisProperty" useGeneratedKeys="true" keyProperty="id">
        insert into mis_property(
        <if test="dormRoomId != null and dormRoomId != ''">dorm_room_id,</if>
        <if test="propertyName != null and propertyName != ''">property_name,</if>
        <if test="propertyAmount != null and propertyAmount != ''">property_amount,</if>
        <if test="propertyStatus != null and propertyStatus != ''">property_status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="dormRoomId != null and dormRoomId != ''">  #{dormRoomId},</if>
        <if test="propertyName != null and propertyName != ''"> #{propertyName},</if>
        <if test="propertyAmount != null and propertyAmount != ''"> #{propertyAmount},</if>
        <if test="propertyStatus != null and propertyStatus != ''">#{propertyStatus},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>


    <update id="updateProperty" parameterType="MisProperty">
        update mis_property
        <set>
            <if test="propertyName != null and propertyName != ''">property_name = #{propertyName},</if>
            <if test="propertyAmount != null and propertyAmount != ''">property_amount = #{propertyAmount},</if>
            property_status = #{propertyStatus},
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id=#{propertyId}
    </update>

    <!--<update id="addOne">-->
        <!--update mis_campus-->
        <!--<set>-->
            <!--floor_num=#{floorNum}+1,-->
            <!--updateBy=#{updateBy},-->
            <!--updateTime = sysdate()-->
        <!--</set>-->
        <!--where id = #{campusId}-->
    <!--</update>-->

    <!--<update id="reduceOne">-->
        <!--update mis_campus-->
        <!--<set>-->
            <!--floor_num=#{floorNum}-1,-->
            <!--updateBy=#{updateBy},-->
            <!--updateTime = sysdate()-->
        <!--</set>-->
        <!--where id = #{campusId}-->
    <!--</update>-->

    <!--<delete id="deleteFloor" parameterType="String">-->
        <!--delete-->
        <!--from mis_floor-->
        <!--where id = #{floorId}-->
    <!--</delete>-->


    <delete id="deletePropertyByIds" parameterType="String">
        delete from mis_property where id =#{ids}
    </delete>


    <!--<select id="selectFloorByCampus" parameterType="String" resultType="int">-->
        <!--select floor_num from mis_campus where id =#{campusId}-->
    <!--</select>-->

    <!--<select id="selectCampusIdByFloorId" parameterType="String" resultType="int">-->
        <!--select campus_id from mis_floor where id =#{floorId}-->
    <!--</select>-->

    <select id="selectDimPropertyAll"  resultMap="DimPropertyResult">
       select  *from mis_dim_property
    </select>
</mapper> 