<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.baseInfo.student.MisStudentMapper">

    <resultMap type="MisStudent" id="MisStudentResult">
        <id property="studentId" column="student_id"/>
        <result property="studentName" column="student_name"/>
        <result property="studentFaculty" column="student_faculty"/>
        <result property="studentProfession" column="student_profession"/>
        <result property="campusName" column="campus_name"/>
        <result property="studentClass" column="student_class"/>
        <result property="apartmentId" column="apartment_id"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="studentYear" column="student_year"/>
        <result property="gender" column="gender"/>
        <result property="floorId" column="floor_id"/>
        <result property="createBy" column="createBy"/>
        <result property="updateBy" column="updateBy"/>
        <result property="address" column="address"/>
    </resultMap>

    <sql id="selectStudentVo">
        select student_id,
               student_name,
               student_faculty,
               student_profession,
               student_class,
               apartment_id,
               student_year,
               campus_name,
               gender,
               floor_id,
               createTime,
               address
        from mis_student
    </sql>

    <select id="selectStudentList" parameterType="MisStudent" resultMap="MisStudentResult">
        <include refid="selectStudentVo"/>
        <where>
            <if test="studentFaculty != null and studentFaculty != ''">
                AND student_faculty like concat('%', #{studentFaculty}, '%')
            </if>
            <if test="studentProfession != null and studentProfession != ''">
                AND student_profession like concat('%', #{studentProfession}, '%')
            </if>
            <if test="studentId != null and studentId != ''">
                AND student_id like concat('%', #{studentId}, '%')
            </if>
            <if test="studentName != null and studentName != ''">
                AND student_name like concat('%', #{studentName}, '%')
            </if>
            <if test="studentClass != null and studentClass != ''">
                AND student_class like concat('%', #{studentClass}, '%')
            </if>
        </where>
    </select>

    <select id="selectStudentById" parameterType="MisStudent" resultMap="MisStudentResult">
        <include refid="selectStudentVo"/>
        <where>
            student_id=#{studentId}
        </where>
    </select>


    <select id="selectStudentListOnDistributionInfo" parameterType="MisStudent" resultMap="MisStudentResult">
        <include refid="selectStudentVo"/>
        <where>
            <if test="studentFaculty != null and studentFaculty != ''">
                AND student_faculty like concat('%', #{studentFaculty}, '%')
            </if>
            <if test="studentProfession != null and studentProfession != ''">
                AND student_profession like concat('%', #{studentProfession}, '%')
            </if>
            <if test="studentId != null and studentId != ''">
                AND student_id like concat('%', #{studentId}, '%')
            </if>
            <if test="studentName != null and studentName != ''">
                AND student_name like concat('%', #{studentName}, '%')
            </if>
            <if test="studentClass != null and studentClass != ''">
                AND student_class like concat('%', #{studentClass}, '%')
            </if>
            <if test="gender != null and gender != ''">
                AND gender like concat('%', #{gender}, '%')
            </if>
            <if test="studentYear != null and studentYear != ''">
                AND student_year like concat('%', #{studentYear}, '%')
            </if>
            AND (apartment_id IS NULL or apartment_id =' ')
        </where>
    </select>


    <select id="checkStudentCodeUnique" parameterType="String" resultMap="MisStudentResult">
        <include refid="selectStudentVo"/>
        where student_id=#{studentId}
    </select>


    <select id="selectStudentListOnCheck" parameterType="MisStudent" resultMap="MisStudentResult">
        <include refid="selectStudentVo"/>
       join mis_accommodation on mis_student.student_id=mis_accommodation.student_num  where 1=1
        <if test="floorId != null and floorId != ''">AND mis_student.floor_id like concat('%', #{floorId}, '%')</if>
        <if test="campusName != null and campusName != ''">AND mis_student.campus_name like concat('%', #{campusName}, '%')</if>
        <if test="campusName != null and campusName != ''">AND mis_student.campus_name like concat('%', #{campusName}, '%')</if>
        and mis_accommodation.checkIn_status='0'
        <if test="studentName != null and studentName != ''">AND mis_student.student_name like concat('%', #{studentName}, '%')</if>
    </select>

    <select id="selectStudentListOnCheckOut" parameterType="MisStudent" resultMap="MisStudentResult">
        <include refid="selectStudentVo"/>
        join mis_accommodation on mis_student.student_id=mis_accommodation.student_num  where mis_student.floor_id=#{floorId} and mis_student.campus_name=#{campusName} and mis_accommodation.checkIn_status='1'
        <if test="studentName != null and studentName != ''">AND mis_student.student_name like concat('%', #{studentName}, '%')</if>
        <if test="studentYear != null and studentYear != ''">AND mis_student.student_year like concat('%', #{studentYear}, '%')</if>
    </select>



    <insert id="insertStudent" parameterType="MisStudent" useGeneratedKeys="true" keyProperty="id">
        insert into mis_student(
        student_id,
        student_name,
        student_faculty,
        student_profession,
        student_class,
        <if test="apartmentId != null and apartmentId != ''">apartment_id,</if>
        student_year,
        time,
        gender,
        <if test="floorId != null and floorId != ''">floor_id,</if>
        <if test="createBy != null and createBy != ''">createBy,</if>
        createTime,
        address
        )values(
        #{studentId},
        #{studentName},
        #{studentFaculty},
        #{studentProfession},
        #{studentClass},
        <if test="apartmentId != null and apartmentId != ''">#{apartmentId},</if>
        #{studentYear},
        #{time},
        #{gender},
        <if test="floorId != null and floorId != ''">#{floorId},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate(),
        #{address}
        )
    </insert>

    <update id="updateApartment">
        update mis_student
        <set>
            apartment_id = #{dormNum},
            campus_name = #{campusName},
            floor_id =#{floorName},
            updateTime = sysdate(),
            <if test="updateBy != null and updateBy != ''">updateBy = #{updateBy},</if>
        </set>
        where student_id = #{stuId}
    </update>

    <update id="updateStudent" parameterType="MisStudent">
        update mis_student
        <set>
            <if test="studentName != null and studentName != ''">student_name = #{studentName},</if>
            <if test="studentFaculty != null and studentFaculty != ''">student_faculty = #{studentFaculty},</if>
            <if test="studentProfession != null and studentProfession != ''">student_profession =#{studentProfession}, </if>
            <if test="studentClass != null and studentClass != ''">student_class =#{studentClass}, </if>
            <if test="apartmentId != null and apartmentId != ''">apartment_id =#{apartmentId}, </if>
            <if test="studentYear != null and studentYear != ''">student_year =#{studentYear}, </if>
            <if test="time != null and time != ''">time =#{time}, </if>
            <if test="gender != null and gender != ''">gender =#{gender}, </if>
            <if test="address != null and address != ''">address =#{address}, </if>
            updateTime = sysdate(),
            updateBy = #{updateBy}
        </set>
        where student_id = #{studentId}
    </update>

</mapper> 