<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.baseInfo.student.MisStudentProfessionMapper">

	<resultMap type="MisProfession" id="MisProfessionResult">
		<id     property="professionId"        column="id"       />
		<result property="professionName"      column="profession_name"     />
		<result property="facultyId"           column="faculty_id"     />
	</resultMap>

	<sql id="selectProfessionVo">
		select * from mis_profession
	</sql>

	<sql id="selectProfessionVo2">
		select profession_name  from mis_profession
	</sql>


	<select id="selectProfessionList" resultMap="MisProfessionResult">
		<include refid="selectProfessionVo"/>
		where faculty_id=#{facultyId}
	</select>

	<select id="selectProfessionById" resultType="String">
		<include refid="selectProfessionVo2"/>
		where id=#{ProfessionId}
	</select>


</mapper> 