<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.baseInfo.DormRoomMapper.MisScampusMapper">

    <resultMap type="MiScampus" id="MisScampusResult">
        <id property="campusId" column="id"/>
        <result property="campusName" column="campus_name"/>
        <result property="floorNum" column="floor_num"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="createBy" column="createBy"/>
        <result property="updateBy" column="updateBy"/>
    </resultMap>

    <sql id="selectScampusVo">
        select *
        from mis_campus
    </sql>

    <select id="selectScampusList" parameterType="MiScampus" resultMap="MisScampusResult">
        <include refid="selectScampusVo"/>
        <where>
            <!--<if test="campusId != null and campusId != ''">-->
                <!--AND id like concat('%', #{campusId}, '%')-->
            <!--</if>-->
            <if test="campusName != null and campusName != ''">
                AND campus_name like concat('%', #{campusName}, '%')
            </if>
            <!--<if test="floorNum != null and floorNum != ''">-->
                <!--AND floor_num like concat('%', #{floorNum}, '%')-->
            <!--</if>-->
        </where>
    </select>


    <select id="selectScampusById" parameterType="Long" resultMap="MisScampusResult">
        <include refid="selectScampusVo"/>
        WHERE id=#{campusId}
    </select>

    <select id="selectMiScampusByName" parameterType="String" resultMap="MisScampusResult">
        <include refid="selectScampusVo"/>
        WHERE campus_name=#{campusName}
    </select>


    <update id="updateScampus" parameterType="MiScampus">
        update mis_campus
        <set>
            <if test="campusName != null and campusName != ''">campus_name = #{campusName},</if>
            <if test="floorNum != null and floorNum != ''">floor_num = #{floorNum},</if>
            <if test="updateBy != null and updateBy != ''">updateBy = #{updateBy},</if>
            updateTime = sysdate()
        </set>
        where id = #{campusId}
    </update>

    <select id="checkCampusNameUnique" parameterType="String" resultMap="MisScampusResult">
        <include refid="selectScampusVo"/>
        where campus_name=#{campusName}
    </select>

        <insert id="insertCampus" parameterType="MiScampus" useGeneratedKeys="true" keyProperty="campusId">
        insert into mis_campus(
        campus_name,
        floor_num,
        <if test="createBy != null and createBy != ''">createBy,</if>
        createTime
        )values(
        #{campusName},
        #{floorNum},
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <delete id="deleteCampus" parameterType="String">
        delete
        from mis_campus
        where id = #{campusId}
    </delete>
</mapper> 