<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('岗位列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<input id="level" name="level" type="hidden" th:value="${user.level}"/>
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>校区：<input th:if="${user.level} eq floor" type="text" name="campusId" id="campus" th:value="${user.campus}"/>
								<input th:if="${user.level} eq school" type="text" name="campusId" id="campus" />
								<input th:if="${user.level} eq county" type="text" name="campusId" id="campus"  th:value="${user.campus}"/>
							</li>

							<li>
								楼栋：<input th:if="${user.level} eq floor" type="text" name="floorId" id="floor" th:value="${user.floor}"/>
								<input th:if="${user.level} eq school" type="text" name="floorId" id="floor"/>
								<input th:if="${user.level} eq county" type="text" name="floorId" id="floor"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-success"  id="batchAdd">
		            <i class="fa fa-plus"></i> 批量新增
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" >
		            <i class="fa fa-remove"></i> 删除
		        </a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" >
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer"/>
	<script th:inline="javascript">
        var editFlag ="";
		var removeFlag = "";
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var prefix = ctx + "room/roomInfo";
		var prefix2 = ctx + "property/propertyInfo";
        var campusName=$("#campus").val();
        var floorName=$("#floor").val();
		$(function() {
            if ($(" input[ name='level' ] ").val()=="floor" || $(" input[ name='level' ] ").val()=="county") {
                $("#campus").attr("readonly",true);
            }
            if ($(" input[ name='level' ] ").val()=="floor") {
                $("#floor").attr("readonly",true);
            }
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add?campusName="+campusName+"&floorName="+floorName,
                detailUrl: prefix + "/add?campusName="+campusName+"&floorName="+floorName,
                // detailUrl: prefix + "/batchAdd?campusName="+campusName+"&floorName="+floorName,
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
				// sortName: "createTime",
		        modalName: "房间",
                // sortOrder: "desc",
		        columns: [{
		            checkbox: true
		        },
                    {
                        field: 'dormId',
                        title: 'id',
                        visible:false
                    },
		        {
		            field: 'dormNum',
		            title: '宿舍号'
		        },
		        {
		            field: 'dormType',
		            title: '宿舍类型',
		            // sortable: true
		        },
		        {
		            field: 'dormShouldPeople',
		            title: '宿舍应住人数',
		            // sortable: true
		        },
                    {
                        field: 'dormActualPeople',
                        title: '宿舍实住人数',
                        // sortable: true
                    },

                    {
                        field: 'floorLevel',
                        title: '楼层',
                        // sortable: true
                    },
		        {
		            field: 'status',
		            title: '状态',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
		        },
		        {
		            field: 'createTime',
		            title: '创建时间',
		            // sortable: true
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.dormId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.dormId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="propertyView(\'' + row.dormId + '\')"><i class="fa fa-user"></i>财物信息</a> ');
                        return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});

        /* 查看财物信息 */
        function propertyView(dormId) {
            var url = prefix2 + '/select/' + dormId;
            $.modal.openTab("查看财物", url);
        }
        $("#batchAdd").click(function(){
            var campusName=$("#campus").val();
            var floorName=$("#floor").val();
            $.modal.open('添加用户', prefix + '/batchAdd?campusName='+campusName+'&floorName='+floorName);
        })
	</script>
</body>
</html>