<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="../static/css/login/style.css" th:href="@{/css/login/style.css}" rel="stylesheet"/>
	<script src="../static/css/login/js/jquery.js" th:src="@{/css/login/js/jquery.js}"></script>
	<script src="../static/css/login/js/cloud.js" th:src="@{/css/login/js/cloud.js}"></script>
	<script language="javascript">
        $(function(){
            $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
            $(window).resize(function(){
                $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
            })
        });
	</script>

</head>

<body style="background-color:#1c77ac; background-image:url(../static/img/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
	<div id="mainBody">
	<div id="cloud1" class="cloud"></div>
	<div id="cloud2" class="cloud"></div>
</div>
			<img id="img1" src="/common/createLogoQRCode"/>
	<div class="loginbm">版权所有  2020  pzh.com 仅供学习交流，勿用于任何商业用途</div>
</body>
</html>
